<article>
    <form action="/auth/sessions/login" method="post" enctype="application/x-www-form-urlencoded">
        <header>
            <h1>Login</h1>
        </header>
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <footer>
            <input type="submit" value="Log in">
        </footer>
    </form>
    <div>
        <h5>Are you not register?</h5>
        <a href="/register"><button>Register</button></a>
    </div>
</article>